version: '2'
services:
  ipfs-daemon:
    image: 'ipfs/kubo:v0.39.0'
    environment:
      IPFS_TELEMETRY: off
    ports:
      - "4001:4001"
      - "5001:5001"
    user: "ipfs"
    command: [ "daemon", "--enable-pubsub-experiment", "--enable-namesys-pubsub", "--routing=dhtclient" ]
