name: Java CI

on:
  schedule:
    - cron: '42 0 * * 4'
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21
        cache: 'maven'
    - name: Install and run IPFS
      uses: hoverkraft-tech/compose-action@v2.4.3
    - name: Build & run tests with Maven
      run: ./mvnw -V verify
