name: Java CI

on:
  schedule:
    - cron: '42 0 * * 4'
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        kubo:                   # https://github.com/ipfs/kubo#docker
          - v0.39.0             # specific release tag
          - release             # latest stable release
          - master-latest       # developer preview, HEAD of master branch

    name: With Kubo tag ${{matrix.kubo}}

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21
        cache: 'maven'
    - name: Run Kubo ${{matrix.kubo}} IPFS daemon
      uses: hoverkraft-tech/compose-action@v2.4.3
      env:
        KUBO_TAG: ${{matrix.kubo}}
    - name: Build & run tests with Maven
      run: ./mvnw -V verify
    - if: ${{always()}}
      name: Kubo logs
      run: docker compose logs
